## **1. Get the Python version**

In [0]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
Version info.
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

## **2. Display the current date and time**

In [0]:
import datetime
now = datetime.datetime.now()
print ("current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

current date and time :
2019-12-07 12:23:39

## **3. Input the radius of a circle and compute the area**

In [0]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("the are of the circle with radius " +str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 3.4
the are of the circle with radius 3.4 is: 36.316811075498

## **4. Print first and last name in reverse order with a space between them**

In [0]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : shashank
Input your Last Name : shukla
Hello  shukla shashank

## **5. Generate a list and tuple with comma-separated numbers**

In [0]:
values = input("Input some comma seprated numbers : ")
X = values.split(",")
Y = tuple(X)
print('List : ',X)
print('Tuple : ',Y)

Input some comma seprated numbers : 1,2,5,4,6
List :  ['1', '2', '5', '4', '6']
Tuple :  ('1', '2', '5', '4', '6')

## **6. Input a filename and print the extension of that**

In [0]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: Jack.sparrow
The extension of the file is : 'sparrow'

## **7. Display the first and last colors from a given list**

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

## **8. Display a sample examination schedule**

In [0]:
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

# **9. Input an integer (n) and computes the value of n+nn+nnn**

In [0]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 10
102030

# **10. Print the calendar of a given month and year**

In [3]:
import calendar
y = int(input("input the year : "))
m  = int(input("input the month : "))

print(calendar.month(y, m))

input the year : 2019
input the month : 03
     March 2019
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

## **11. Print a specified document**

In [4]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

# **12. Calculate number of days between two dates**

In [5]:
from datetime import date
f_date = date(1992, 3, 30)
l_date = date(2019, 12, 11)
delta = l_date - f_date
print(delta.days)

10117

In [10]:
from datetime import datetime
date_format = ("%m/%d/%Y")
a = datetime.strptime('8/18/2001', date_format)
b = datetime.strptime('9/26/2019', date_format)
delta = b - a
print (delta.days)

6613

In [13]:
import datetime 
today = datetime.date.today() 
print(today)
last_year = datetime.date(2018, 12, 8) 
print(today - last_year)

2019-12-08
365 days, 0:00:00

# 13. Get the the volume of a sphere with radius 5

In [1]:
#The volume of the sphere is : V = 4/3 × π × r3 = π × d3/6

pi = 3.1415926535897931
r= 5.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  523.5987755982989

# 14. Get the difference between a given number and 15, if the number is greater than 15 return double the absolute difference

In [3]:
def difference(n):
    if n <= 15:
        return 15 - n
    else:
        return (n - 15) * 2 

print(difference(19))
print(difference(11))

8
4

# 15. Test whether a number is within 100 of 1000 or 2000

In [7]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

# 16. Calculate the sum of three given numbers, if the values are equal then return thrice of their sum

In [16]:
def sum_thrice(x,y,z):

    sum = x + y + z
    
    if x == y == z:
      sum = sum * 3
    return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

# 17. Get a new string from a given string where 'Is' has been added to the front. If the given string already begins with 'Is' then return the string unchanged

In [17]:
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

# 18. Get a string which is n (non-negative integer) copies of a given string

In [18]:
def larger_string(str, n):
   result = ""
   for i in range(n):
      result = result + str
   return result

print(larger_string('abc', 2))
print(larger_string('.py', 3))

abcabc
.py.py.py

# 19. Find whether a given number is even or odd, print out an appropriate message to the user

In [23]:
num = int(input("Enter a number: "))
mod = num%2

if  mod > 0:
    print("This is odd number")
else:
    print("This is even number")

Enter a number: 21
This is odd number

# 20. Count the number 4 in a given list

In [12]:
def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

# 21. n (non-negative integer) copies of the first 2 characters of a given string

In [20]:
def substring_copy(str, n):
  flen = 2
  if flen > len(str):
      flen = len(str)
  substr = str[:flen]
  
  result = ""
  for i in range(n):
    result = result + substr
  return result

print(substring_copy('abcdef', 2))
print(substring_copy('p', 3));

abab
ppp

# 22. Test whether a passed letter is a vowel or not

In [21]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels

print(is_vowel('c'))
print(is_vowel('e'))

False
True

# 23.  Check whether a specified value is contained in a group of values

In [22]:
def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False

print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([5, 8, 3], -1))

True
False

# 24. Create a histogram from a given list of integers

In [1]:
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '*'
          times = times - 1
        print(output)

histogram([2, 3, 6, 5])

**
***
******
*****

# 25. Concatenate all elements in a list into a string and return it

In [3]:
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result

print(concatenate_list_data([1,12,2,22]))

112222

# 26. Print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence

In [8]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

for x in numbers:
    if x == 950:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950

# 27. Print out a set containing all the colors from a list which are not present in other list

In [ ]:
# Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

Test Data:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
Expected Output :
{'Black', 'White'}

In [1]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'White', 'Black'}

# 28. Accept the base and height of a triangle and compute the area

In [3]:
b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 25
Input the height : 30
area =  375.0

In [5]:
h = int(input("Input the height : "))
a = int(input("input the area : "))

area = b*h/2


b = area*2/h

print("b = ", b)

Input the height : 20
input the area : 10
b =  20.0

# 29. Compute the greatest common divisor (GCD) of two positive integers

In [6]:
# Write a Python program to compute the greatest common divisor (GCD) of two positive integers.

def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 17))
print(gcd(4, 6))

1
2

# 30. Get the least common multiple (LCM) of two positive integers

In [7]:
# Write a Python program to get the least common multiple (LCM) of two positive integers.

def lcm(x, y):
   if x > y:
       z = x
   else:
       z = y

   while(True):
       if((z % x == 0) and (z % y == 0)):
           lcm = z
           break
       z += 1

   return lcm
print(lcm(4, 6))
print(lcm(15, 17))

12
255

# 31. Sum of three given integers. However, if two values are equal sum will be zero

In [8]:
# Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum

print(sum(2, 1, 2))
print(sum(3, 2, 2))
print(sum(2, 2, 2))
print(sum(1, 2, 3))

0
0
0
6

# 32. Sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [9]:
# Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

# 33. Return true if the two given int values are equal or their sum or difference is 5.

In [10]:
# Write a Python program which will return true if the two given integer values are equal or their sum or difference is 5.

def test_number5(x, y):
    if x == y or abs(x-y) == 5 or (x+y) == 5:
        return True
    else:
        return False

print(test_number5(7, 2))
print(test_number5(3, 2))
print(test_number5(2, 2))

True
True
True

# 34. Add two objects if both objects are an integer type.

In [11]:
# Write a Python program to add two objects if both objects are an integer type.

def add_numbers(a, b):
    if not (isinstance(a, int) and isinstance(b, int)):
         raise TypeError("Inputs must be integers")
    return a + b

print(add_numbers(10, 20))

30

# 35. Display your details like name, age, address in three different lines

In [13]:
# Write a Python program to display your details like name, age, address in three different lines.

def personal_details():
    name, age = "Shashank", 27
    address = "Noida, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: Shashank
Age: 27
Address: Noida, India

# 36. Python program to solve (x + y) * (x + y)

In [15]:
# Write a Python program to solve (x + y) * (x + y).


x, y = 14, 13
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(14 + 13) ^ 2) = 729

# 37. Future value of a specified principal amount, rate of interest, and a number of years

In [16]:
# Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years.


amt = 10000
int = 3.5
years = 7

future_value  = amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

12722.79

# 38. Compute the distance between two points

In [17]:
# Write a Python program to compute the distance between the points (x1, y1) and (x2, y2).

import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759

In [ ]:
# 39.